debug
release
.sconf*
config.log
*.swp
*.pyc
build
.waf*
.lock-wscript
*~
Makefile.in
Makefile
aclocal.m4
autom4te.cache
config.h.in
config
configure
m4
stamp-h1
*.o
*.lo
src/*.c
src/*.h
.deps
.libs
*.la
config.h
libtool
config.status
*.stamp
hkl.pc
